:root {
  --white: #ffffff;
  --black: #333333;
  --purple: #6d06c6;
  --deeper-purple: #5d01a2;
  --lilac: #fdfaff;
  --grey-82: #828282;
  --main-purple: #6d06c6;
  --grey-f-2: #f2f2f2;
}

.Header {
  width: 100vw;
  height: 11vh;
  padding: 5vh 0 0 0;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.MobileHeader {
  width: 100%;
  height: 10vh;
  padding: 5vh 0 0 0;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}
.logoHeader {
  height: 4vw;
  width: 6vw;
  margin-top: -2.5vh;
  margin-right: 3vw;
  background-image: url("../lib/Transparent-LOGO.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* padding: auto; */
  /* margin: 0vh 20% 30vh 20%; */
}
#mobile-nav-logo {
  display: none;
}
.headerText {
  font-family: Montserrat;
  font-size: 20px;
  /* height: 3vh; */
  font-weight: 525;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.profile {
  font-family: Montserrat;
  margin-top: -1vh;
  font-size: 18px;
  font-weight: 525;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
  cursor: pointer;
  /* text-align: center;
  justify-content: "center";
  align-items: "center"; */
}
.profile-photo {
  margin-top: 1vh;
  height: 100%;
  width: 2vw;
  margin-top: -2.5vh;
  background-image: url("../lib/Be_logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.active {
  color: var(--deeper-purple);
}
.underline_a {
  width: 100%;
  /* color: blue; */
  background-color: var(--deeper-purple);
  height: 4px;
  margin-top: 8.5vh;
}
body.active-modal {
  overflow-y: hidden;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.Nav-modal-content {
  position: absolute;
  top: 52vh;
  left: 60vw;
  padding-right: 7vw;
  height: 80vh;

  transform: translate(-50%, -50%);
  line-height: 1.4;

  border-radius: 3px;
  /* max-width: 600px;
    min-width: 300px; */
  width: 75vw;

  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  text-align: right;
}

.modal-content {
  font-family: Montserrat;

  position: absolute;
  top: 25vh;
  right: -9vw;

  transform: translate(-50%, -50%);
  line-height: 1.4;

  border-radius: 3px;
  /* max-width: 600px;
  min-width: 300px; */
  width: 18vw;

  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}
.Nav-modal-Elements {
  font-family: Montserrat;
  padding: 0 1vw;
  margin: 1.25vh 0vh;

  height: 5vh;
}
.modal-Elements {
  padding: 0 2vw;
  margin: 0vh 0vh;

  height: 5vh;
}
.modal-Elements:hover {
  background-color: var(--grey-f-2);
}
.Sub-nav-elements {
  font-weight: 425;
  margin: 1.5vh 0.5vh;
}

.Footer {
  width: 100vw;
  height: 12vh;

  /* margin: 16px 0 0; */
  padding: 4vh 0px 2vh;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}

.Be-Backoffice-2023 {
  /* margin: auto; */
  width: 100vw;
  height: 3vw;
  /* margin: 32px 34px 0; */
  /* margin-left: 30%; */
  font-family: Montserrat;

  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: var(--grey-82);
  cursor: pointer;
}
.Policy {
  display: flex;
  width: 60vw;
  margin: auto;
  height: 2vw;
  justify-content: space-evenly;
  /* margin: 32px 34px 0; */
  /* margin-left: 30%; */
  font-family: Montserrat;

  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
  cursor: pointer;
}

#mobile-profile {
  display: flex;
  padding: 0 2vw;
  margin: 0vh 0vh;

  height: 5vh;
  justify-content: space-between;
}
#mobile-profile:hover {
  background-color: var(--grey-f-2);
}
#Nav-Searchbar {
  display: none;
}

@media screen and (max-width: 1050px) {
  .FooterText {
    margin-top: 1vh;
    /* margin-right: 1vh; */
  }

  #mobile-nav-logo {
    display: block;
    height: 9vh;
    width: 15vw;
    margin-top: -1.5vh;
    background-image: url("../lib/mobile-nav-icon.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .Header {
    height: 8vh;
  }
  .headerText {
    display: none;
  }
  .profile {
    display: none;
  }
  .logoHeader {
    margin-top: -1vh;
    height: 8vw;
    width: 10vw;
  }
  #lang-navbar {
    display: none;
  }
  #Nav-Searchbar {
    display: block;
  }
}
