:root {
  --white: #ffffff;
  --black: #333333;
  --purple: #6d06c6;
  --deeper-purple: #5d01a2;
  --lilac: #fdfaff;
  --grey-82: #828282;
  --main-purple: #6d06c6;
  --grey-f-2: #f2f2f2;
  font-size: 18px;
  font-family: Montserrat;
}
.single-line {
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides any overflow */
  text-overflow: ellipsis; /* Truncates the text with an ellipsis (...) if it overflows */
}
.outer {
  display: flex;
  /* width: 100vw; */
  margin-left: 0;

  /* height: 70vh; */
}
.navi {
  align-items: center;
  justify-content: center;
  /* margin-left: 0vw; */
  padding-top: 22vh;
  width: 20vw;
  height: 82vh;
  flex-grow: 0;

  /* padding: 25vh 24px 40px 0px; */
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}

.dashboard {
  width: 80%;
  height: 90vh;
}
iframe {
  width: 83vw;
  height: 100vh;
  padding: 0vh;
  border: none;
  margin: 0;

  /* margin-top: -18vh; */
}
.side-nav-elements {
  width: 15vw;
  text-align: center;
  /* height: 16px; */
  flex-grow: 0;
  /* margin: 24px 0 10px 30px; */
  display: flex;
  margin-bottom: 4.25vh;
  margin-left: 1vw;
  /* text-align: center; */
  /* justify-content: center; */

  font-family: Montserrat;

  font-weight: normal;
  font-stretch: normal;

  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: var(--text-black);
  cursor: pointer;
}
.active {
  color: var(--deeper-purple);
}
.content-heading {
  display: flex;
  justify-content: space-between;
  padding: 1vw;
  width: 80vw;

  font-family: Montserrat;

  font-weight: 600;

  color: var(--text-black);
}
.content-subheading {
  width: 50vw;
  padding-left: 1vw;
  font-family: Montserrat;

  /* box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1); */

  color: var(--text-black);
}
.Filters {
  width: 80vw;
  display: flex;
}
.left-Filter {
  width: 42vw;
  margin-top: 3vh;
  display: flex;
  justify-content: left;
}
.right-Filter {
  width: 50vw;
  margin-top: 3vh;
  display: flex;
  justify-content: right;
}
.root-filters {
  margin: 1vw;
}
.root-filters-text {
  padding-top: 1.5vh;
  /* padding-left: 5vw; */
}

.selected-cycle {
  /* width: 18vw; */
  height: 2.25vh;

  text-align: left;
  margin-top: 0.25vh;
  padding: 1vh;

  border-radius: 100px;
  background-color: var(--grey-f-2);
  color: var(--grey-82);
}
.additionalFilter-container {
  width: 82vw;
  display: flex;
  cursor: pointer;
  overflow-x: scroll;
}

.additionalFilter {
  margin: auto;
  color: var(--grey-82);
  font-family: "Montserrat";
}
.activeAdditionalFilter {
  background-color: var(--main-purple);
  height: "2px";
  width: "100px";
}
#column-selector {
  margin-top: 2vh;
}

.Trans-Button {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--white);
  height: 5vh;
  width: 6vw;
  border-radius: 20px;

  cursor: "pointer";
  /* padding: 1vh; */

  text-align: center;
}

.pagination {
  text-align: center;
  margin-top: 1vh;
}
.card {
  width: 27vw;
  display: flex;
  height: 25vh;
  margin: 1vw;
  font-family: Montserrat;

  display: inline-flex;

  border-radius: 2vh;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}
.hot100-card {
  width: 25vw;
  display: flex;
  height: 22vh;
  margin: 1vw;
  font-family: Montserrat;

  display: inline-flex;

  border-radius: 2vh;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}

.hot100-card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1vw;
}
.hot100-Top-card {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  height: 22vh;
  margin: 1vw;
  font-family: Montserrat;

  display: inline-flex;

  border-radius: 2vh;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}
.card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1vw;
}

/* .card-heading {
} */
.card-position {
  color: var(--main-purple);
}
/* .card-date {
} */
#hot100-card-img {
  border-radius: 100%;
  height: 60%;
}
#hot100-Top-card-img {
  border-radius: 100%;
  height: 14vh;
  width: 12vh;
  margin-top: -10vh;
  left: 8vw;
}
#hot100-Top-card-img1 {
  border-radius: 100%;
  height: 14vh;
  width: 12vh;
  margin-top: -10vh;
  left: 8vw;
}
.hot100-card-img-above {
  /* margin-top: 1vh; */
  /* text-align: center; */
  margin-bottom: 1vh;
}

#hall-of-fame {
  width: 90vw;

  margin: auto;
}
.each {
  height: 5vh;
  padding-top: 1vh;
  padding-left: 1vw;
  border-radius: 4px;
  margin: 1vh;
}
.each:hover {
  background-color: var(--grey-f-2);
}
.table {
  width: 82vw;

  border-collapse: "collapse";
  font-family: "Montserrat";
}
.table-container {
  width: 82vw;
  overflow: scroll;
  height: 70vh;
}
.table-row {
  width: "82vw";
}
.table-data {
  border: none;
  padding: 2vh;
}
#BodyFilter {
  margin-top: 1.75vh;
}

@media screen and (max-width: 1050px) {
  #BodyFilter {
    display: none;
  }

  .card {
    width: 40vw;

    height: 28vh;
  }
  .hot100-card {
    width: 45vw;
  }
  #hot100-Top-card-img1 {
    /* display: none; */
    top: vh;
    left: 13vw;
  }
  .Trans-Button {
    width: auto;
    box-shadow: none;
  }
  .hot100-Top-card {
    width: 45vw;
    padding-top: 3vh;
    margin-bottom: 5vh;
  }
  .Filters {
    flex-direction: column;
    width: 80vw;
  }

  .left-Filter {
    width: 75vw;
    justify-content: left;

    margin-left: 2.5vw;
    margin-bottom: 1vh;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white);
  }
  .right-Filter {
    width: 75vw;
    justify-content: right;
    margin-top: 0vh;
    margin-left: 2.5vw;
    margin-bottom: 1vh;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white);
  }
  .root-filters-text {
    padding-left: 5vw;
  }
  .navi {
    display: none;
  }
  .table-container {
    width: 100vw;
  }
  .table {
    width: 100vw;
  }
  .left-Filter {
    width: 90vw;
  }
  .right-Filter {
    width: 90vw;
  }
}
@media screen and (max-width: 600px) {
  .Filters {
    flex-direction: column;
    width: 90vw;
  }

  .additionalFilter-container {
    width: 100vw;
    display: flex;
    cursor: pointer;
    overflow-x: scroll;
  }
  #hot100-Top-card-img1 {
    display: none;
  }

  .additionalFilter {
    margin: 1vh;
  }
  .table-container {
    width: 100vw;
  }
  .hot100-card {
    width: 90vw;
  }
  .hot100-Top-card {
    width: 90vw;
    margin-top: 7vh;
    margin-bottom: 5vh;
  }

  .table {
    width: 100vw;
  }

  .left-Filter {
    width: 95vw;
    justify-content: left;

    margin-left: 2.5vw;
    margin-bottom: 1vh;

    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white);
  }
  .right-Filter {
    width: 95vw;
    /* justify-content: space-between; */

    margin-top: 0vh;
    margin-left: 2.5vw;
    margin-bottom: 1vh;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white);
  }
  .root-filters-text {
    padding-left: 5vw;
  }
  .selected-cycle {
    width: 45vw;
    color: black;
    padding-bottom: 2vh;

    background-color: white;
  }
  #column-selector {
    margin-top: 2.25vh;
  }

  .Trans-Button {
    width: 30vw;

    background-color: white;
    box-shadow: none;
  }

  .table-data {
    padding: 1vw;
  }
  .pagination {
    width: 100vw;
  }

  .navi {
    display: none;
  }
  #BodyFilter {
    display: none;
  }
  .content-heading {
    width: 100vw;
  }
  .content-subheading {
    width: 100vw;
    margin: 1vw;
  }
  .card {
    width: 90vw;

    height: 32vh;
  }
  #card-img {
    width: 30vw;
  }
  #hall-of-fame {
    width: 90vw;
    margin: auto;
  }
}

/* 
 */

/* .carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
} */
.carousel {
  position: relative;
  width: 100vw;
  overflow: hidden;
  cursor: pointer;
}

.carousel-slide {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide {
  flex: 0 0 100%;
}

.slide-image {
  width: 100%;
  height: 350px;

  overflow: clip;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.left-icon,
.right-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.left-icon {
  left: 16px;
}

.right-icon {
  right: 16px;
}

.slide.active {
  transform: translateX(0);
}
.carousel-indicators {
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 45%;
}
.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.indicator.active {
  background-color: white;
}

/* .indicator {
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.indicator.active {
  background-color: white;
} */

#second-banner {
  width: 85%;
  /* margin: auto; */
  height: 220px;

  margin-top: 2vh;
  /* border-radius: 10px; */

  /* // backgroundColor: "orange", */
  /* font-size: 245px; */
  /* background-image: url("../"); */
  background-size: cover;
  background-repeat: no-repeat;
  overflow: clip;
  /* object-fit: cover; */
  /* overflow-clip-margin: content-box; */
  /* background-position: center center; */
}
.divider {
  height: 1px;
  width: 15vw;
  margin-left: -1vw;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}
.social-media {
  margin-top: 2px;
  height: 30px;
  cursor: pointer;
}

.category {
  width: 25vw;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  height: 280px;
  margin: 30px;
  border-radius: 20px;
  font-family: Montserrat;
}
.category-icon {
  margin-right: 10px;
}
#root-category {
  display: flex;
  justify-content: space-around;
}
.category-title {
  text-align: center;
  background-color: #5832a8;
  height: 40px;
  padding-top: 10px;
  color: #f2f2f2;
  /* margin-top: -20px; */
}
.category-data {
  min-height: 40px;
  /* margin-top: 10px; */
  padding-left: 15px;
  cursor: pointer;
  border-radius: 10px;
  color: #5d01a2;
}
.category-data:hover {
  background-color: #f2f2f2;
}
#message {
  font-family: Montserrat;
  background-color: #5832a8;
  padding: 25px;
  width: 88%;
  margin: auto;
  border-radius: 15px;
  color: #ffffff;
  margin-bottom: 40px;
}
